
// #app.mall {
//   background-color: #F7F8FA;
// }

/* css style: */
html,body{
  // -moz-user-select: none;
  // -khtml-user-select: none;
  // user-select: none;
}

.mall-wrapper {
  font-size: 14px;
  height: 100%;
  // background-color: #F7F8FA;
  // position: fixed;
  // z-index: 1;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // overflow: auto;
  .mall-slidebar {
    width: 92px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #ffffff;
    &.has-menu {
      width: 224px;
    }
    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }
    .mall-navigator-wrapper{
      width: 92px;
      height: 100%;
      background-color: #444444;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      color: #ffffff;
      .logo-wrapper {
        height: 66px;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo{
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background: #363636;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .sign {
            text-align: center;
            color: #1890FF;
            .to {
              color: #E5676C;
            }
          }
          .text {
            font-size: 10px !important;
            color: #ffffff;
            text-align: center;
          }
        }
      }
      .el-scrollbar {
        height: calc(100% - 100px);
      }
    }
    .mall-menu-wrapper {
      width: 132px;
      // border-right: ;
      position: relative;
      top: 0;
      left: 92px;
      height: 100%;
      bottom: 0;
      border-right: 1px solid #ebedf0;
      .menu-title {
        height: 56px;
        border-bottom: 1px solid #ebedf0;
        line-height: 56px;
        text-align: center;
      }
      
      .el-scrollbar {
        height: calc(100% - 60px);
        width: 132px;
      }
    }
  }
  .mall-content-wrapper {
    margin-left: 92px;
    &.has-menu {
      margin-left: 224px;
    }
    .mall-content-header {
      height: 56px;
      border-bottom: 1px solid #ebedf0;
      background: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .mall-main-content {
      padding: 20px;
      // > div {
      //   background: #ffffff;
      //   padding: 15px;
      // }
    }
  }
}

.gray-table-header {
  background-color: #FAFAFA !important;
}

.mall-project-header {
  height: 100px;
  display: flex;
  align-items: center;
  font-size: 20px;
  background-color: #F8F8F8;
  padding-left: 30px;
}
.mall-project-container {
  padding: 20px 30px;
}

.multiple-select-popper-class {
  width: 500px;
  .el-select-dropdown__list {
    .el-select-dropdown__item {
      display: inline-block;
      margin-right: 10px;
      position: relative;
      .el-checkbox__input.is-checked .el-checkbox__inner {

      }
    }
  }
}
